.contact_us{
    box-shadow: 0 -1px #d9d9d9 inset;
}
.contact-fluid{
    padding: 0;
}
.contact_Us_breadcumb{
    background: rgba(0,0,0,0) url(../../assets/image/contact/background.jpg);
    position: relative;
    background-attachment: fixed;
    min-height: 450px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
    z-index: 1;

}
.contact_Us_breadcumb::before{
    opacity: 0.6;
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    /* opacity: 0.85; */
    position: absolute;
    top: 0;
    width: 100%;

}
.bread-main {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 30%;
    left: 50%;
    padding: 20px 120px;
    position: absolute;
    transform: translate(-50%);
}
.page_heading{
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: Lato,sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin: 0;
}

.google_map{
    width: 100%;
    height: 500px;
    position: relative;
    background: rgba(0, 0, 0, 0);

}
/* .google_map::before{
    content: "";
    background: #000 none repeat scroll 0 0;
    opacity: 0.3;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

} */
.google_map > iframe{
    width: 100%;
    height: 100%;
}
/* -----------------------contact form start---------------------- */
.contact_form{
    padding: 70px 0;
}
.input_box{
    margin-bottom: 20px;
}
.form_info{
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 0 60px 0 10px;
    height: 45px;
    box-shadow: none;
    font-size: 15px;
    color: #767676;
    font-family: Lato,sans-serif;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    border-radius: 0;
}
.form_info:focus-visible,
.form_area_tex:focus-visible,
.form_area_tex:focus,
.form_info:focus
{
    border-radius: none;
    outline: none;
    border-color: #404040;

}
.form_area_tex{
    width: 100%;
    border: 1px solid #e5e5e5;

    padding: 10px;
    font-size: 15px;
    color: #767676;
    font-family: Lato,sans-serif;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    border-radius: 0;
}


.sbumit-btn{
    position: relative;
    color: #fff;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .2em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #000;
    transition: transform .45s cubic-bezier(.785,.135,.15,.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    width: 50%;
    height: 45px;
}
.sbumit-btn::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: left center;
    z-index: -1;
}
.sbumit-btn:hover{
    color: #000;
    background: #FFF;
}

/* -----------contact info start-------------- */

.contact_info_heading{
    font-size: 15px;
    font-family: Lato,sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.contact_info{
    list-style: none;
    padding: 0;
}
.contact_info li{
    /* display: block; */
    margin-bottom: 35px;
}
.contact_icon{
    border: 1px solid #ccc;
    float: left;
    font-size: 20px;
    color: #767676;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 32px;
}
.contact_text{
    /* overflow: hidden; */
    margin: 0 0 0 50px;

}
.contact_text >p{
    display: inline;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    
    font-family: Lato,sans-serif;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    
    font-weight: normal;
    color: #767676;
    letter-spacing: .1em;
}
.contact_text >p >a{
    text-decoration: none;
    font-weight: normal;
    color: #767676;
    letter-spacing: .1em;
}
.social_icon_wraper{
    margin-top: 25px;
}
.social_icon ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.social_icon ul li{
    float: left;
    margin-right: 10px;
}
.social_icon ul li a{
    color: #767676;
    border: 1px solid #767676;
    display: block;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    transition: all 0.3s ease-out 0s;
}
.social_icon ul li a:hover{
    color: #FFF;
    background: #000;
}

.contact_des{
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #d9d9d9 ;
}
.contact_des p{
    text-align: justify;
    padding-left: 10px;
    border-left: 3px solid #d9d9d9 ;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    letter-spacing: .1em;
    font-family: Lato,sans-serif;
}

@media only screen and (max-width:768px) {
    .sbumit-btn{
        margin: 20px 0;
    }
}