.top_nav>div{
    width: 20em;
    height: 80px;
    overflow-y: hidden;
    margin: auto;
}

.top_nav>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.nav_bar {
    /* padding-bottom: 18px; */
    /* transition: background-color 0.3s ease; */
    padding: 0px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav_section {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: white;
    transition: 0.3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.navbar_nav>li {
    margin: 0 21px;
    padding: 15px 0;
}

.navbar_nav>li>a:focus,
.navbar_nav>li>a:hover {
    color: #000 !important;
}

.active {
    border-bottom: 2px solid #000;
}

.nav_link {
    padding: 0 !important;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
}

@media only screen and (max-width:992px) {
    .top_nav>div {
        width: 20em;
        height: 80px;
    }
    .top_nav>div>img {
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width:576px) {
    .top_nav>div {
        width: 15em;
        height: 80px;
    }
}